caption
{
    font-size: 35px;
    font-family: sans-serif; 
    margin-bottom: 20px;
}
thead
{
    background-color: rgba(0, 0, 0, 0.725);
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}
thead th
{
    padding: 20px 0px;
    font-family: sans-serif;
}
table tr td
{
    background-color: rgba(232, 232, 232, 0.789);
    font-size: 25px;
    font-family: sans-serif;
    padding: 20px 55px ;
    text-align: center;
}
p
{
    display: inline-block;
    margin: 0px;
    padding: 6px 11px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.view
{
    background-color: rgb(0, 167, 223);
}
.delete
{
    background-color: deeppink;
}

